
<div class="content">
    <div class="container">
        <div class="box error-404">
            <div class="bg-cover">
                <h2 class="wow bounceInLeft">Error</h2>
                <h1 class="wow bounceInRight">404</h1>
                <h5 class="wow bounceInLeft">Sorry! The page you're looking for</h5>
                <h6 class="wow bounceInRight">Cannot be found</h6>
                <span class="error-line wow bounceInDown"></span>
            </div>
        </div>
    </div>
</div>